body{
    margin: 0px;
}

nav {
/*    바탕색은 고민좀 해봐야함 */
    background-color:dimgray;
    height:150px;
    width:100%;
    display: flex;
    position:fixed;
}

#logo {
    padding:15px;
    margin-left:200px;
    width:200px;
    font-family: 'Anton', sans-serif;
}

#logo a {
    color:white;
    font-size: 80px;
    text-decoration: none;
}

#menu {
    padding:17px 0px;
    margin-left:30px;
}

 #menu div {
    background-color: white;
    height:10px;
    width: 100px;
    margin:20px;
    border-radius: 4px;
}
/*확장형 메뉴-s*/
#hm {
    height:100%;
    width:100%;
    position: fixed;
    display: none;
}

.rm{
    background-color: white;
    height:100%;
    width:80%;
    float: left;
}

.sd{
    background-color: rgba(0,0,0,0.2);
    filter: blur(5px); 
    height:100%;
    width: 20%;
    float: left;
}
.rm ul {
    margin: 0px;
    width:100%;
    padding:0px;
}
.rm ul li {
    list-style: none;
    font-size:80px;
    border:1px solid #454545;
    padding: 50px;
}

.rm ul li a {
    color:black;
    text-decoration: none;
}

/*확장형 메뉴-e*/

.space{
    height:150px;
}

#article_big{
    margin:30px auto;
    height:800px;
    width:900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article_s {
    margin:30px auto;
    height:300px;
    width:900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}