/*모바일*/
body{
    margin: 0px;
    font-family: 'Anton', sans-serif;
    background-color: #f6f4f0;
}

nav {
/*    바탕색은 고민좀 해봐야함 */
    background-color:#008d92;
    height:150px;
    width:100%;
    display: flex;
    position:fixed;
    margin: 0px;
}

#logo {
    padding:15px;
    margin-left:200px;
    width:200px;

}

#logo a {
    color:white;
    font-size: 80px;
    text-decoration: none;
}

#menu {
    padding:17px 0px;
    margin-left:30px;
    cursor:pointer;
}

 #menu div {
    background-color: white;
    height:10px;
    width: 100px;
    margin:20px;
    border-radius: 4px;
}
/*확장형 메뉴-s*/
#hm {
    
    height:100%;
    width:100%;
    position: fixed;
    display: none;
}

.rm{
    background-color: #f6f4f0;
    height:100%;
    width:80%;
    float: left;
}

.sd{
    background-color: rgba(0,0,0,0.2);
    filter: blur(5px); 
    height:100%;
    width: 20%;
    float: left;
}
.rm ul {
    margin: 0px;
    width:100%;
    padding:0px;
}
.rm ul li a {
    background-color: white;
    margin-bottom:10px;
    list-style: none;
    font-size:80px;
    border:1px solid #454545;
    padding: 50px;
    display: block;
}

.rm ul li a {
    color:black;
    text-decoration: none;
}

.rm ul li :hover{
    background-color: #eee;
}

.rm div {
    height: 150px;
    background-color: #008d92;
    margin-bottom: 10px;
}

.cancel {
    font-size: 100px;
    color: white;
    font-family: 'Nunito', sans-serif;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #008d92;
    border: none;
    
}

/*확장형 메뉴-e*/

#space{
    height:150px;
}

main {
    width:950px;
    margin: auto;
}

#article_big{
    background-color: white;
    margin:30px auto;
    height:800px;
    width:900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article_s {
    background-color: white;
    margin:30px auto;
    height:300px;
    width:900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gtt {
    background-color: rgba(0,0,0,0.2);
    border-radius:40px;
    position: fixed;
    bottom:10%;
    right:10%;
    text-align: center;
    padding: 50px 50px ;
}

.gtt a {
    color:white;
    text-decoration: none;
    font-size:50px;
    
}

/*데스크탑 (일단보류)
@media(min-width: 768px) {
    nav {
    background-color:dimgray;
    height:50px;
}
    #menu {
    padding:10px 0px;
    margin-left:5px;
}

 #menu div {
    background-color: white;
    height:3px;
    width: 30px;
    margin:5px;
    border-radius: 4px;
}
    
    #logo {
    padding:3px;
    width:200px;
    font-family: 'Anton', sans-serif;
    margin: auto;
}

    #logo a {
        color:white;
        font-size: 30px;
        text-decoration: none;
}

    #logo :hover {
        color:#eee;
        transition:all 0.3s;
    }
    
}
*/